ACCESS_SECRET=dev_access_secret_please_change
REFRESH_SECRET=dev_refresh_secret_please_change
ACCESS_EXPIRES_IN=1d
REFRESH_EXPIRES_IN=7d
PORT=8080

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gym_app
DB_USER=postgres
DB_PASSWORD=password
